.comun{
  margin:0;
  padding: 0;
}
.container{
  display:flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 30%;

}
.titulo{
  margin-top: 3%;
  margin-bottom: 3%;
}
.mascota{
  display:flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 3%;
  margin-right: 10%;
}
.info{
    display:flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 10%;
    width: 60%
}
.foto{
  width: 120px; /* Ancho del contenedor */
  height: 120px; /* Altura del contenedor */
  border-radius: 50%; /* Establecer el borde del contenedor en forma de círculo */
  overflow: hidden;
  display: flex; /* Usar flexbox para centrar la imagen */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  border: 1px solid black;
}
.boton{
  margin-top: 1%;
}
.foto2{
  width: 120px; /* Ancho del contenedor */
  height: 120px; /* Altura del contenedor */
  border-radius: 50%; /* Establecer el borde del contenedor en forma de círculo */
  overflow: hidden;
  display: flex; /* Usar flexbox para centrar la imagen */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  border: 1px solid black;
}
.boton2{
  margin-top: 3.5%;
  margin-left: 12%;
  width: 60%;
  height: 20%;

  button{
      width: 100%;
      height: 100%;
      padding: 3%;
  }
}
button{

  background: #BFDC99;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 150px;
  height: 31px;
  font-weight: bold;
  font-family: 'Inter';
  font-size: 16px;

}
button:hover {
  box-shadow: 0 4px 8px rgb(86, 84, 84); /* Añade una sombra al hacer hover */
  cursor: pointer; /* Cambia el cursor a una mano */
  transition: box-shadow 0.3s; /* Agrega una transición suave para la sombra */
}
img{
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* Altura automática según la imagen */
    display: block; /* Para evitar espacios en línea */
}
h2,p{
  font-family: 'Inter';
}
h2{
  font-size: 32px;
}
p{
  font-size: 18px;
  margin:1%;
}
