<html>
    <div class="pagina">
        <div class="comun">
            <app-navigation [pag]="3"></app-navigation>
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Mis mascotas</h2>
            </div>
            <div *ngFor="let mascota of misMascotas" class="mascota">
                <div class="foto">
                    <img src={{mascota.photo}}>
                </div>
                <div class="info">
                    <p style="font-size: 22px;"><b>{{mascota.name}}</b></p>
                    <p>{{mascota.species}}</p>
                    <p>{{mascota.description}}</p>
                </div>
                <div class="boton">
                    <button [routerLink]="['/perfilMascota/', userID, mascota.pet_id]">Ver Perfil</button>
                </div>
            </div>

            <div class="mascota">
                <div class="foto2">
                    <img src="../../assets/huella.jpg">
                </div>
                <div class="boton2">
                    <!-- <button  [routerLink]="['/', 'nueva-mascota']" >Añadir Mascota</button> -->
                    <button  [routerLink]="['/nueva-mascota/', userID]" >Añadir Mascota</button>
                </div>
            </div>
        </div>
    </div>
</html>
