h1 {
  font-size: 48px;
  margin-left:3%;
  margin-top: 4%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Inter';
  color: #292929;
  -webkit-text-stroke: 1px #000000;
  font-weight: bold;
}
