<html>
  <div class="pagina">
      <div class="comun">
          <app-navigation [pag]="4"></app-navigation>
      </div>
      <div class="container">
        <div class="imagen-perfil">
          <div class="foto">
            <img src={{mascota.photo}}>
          </div>
          <div class="info-usuario">
            <div class="nombre-usuario">
              <div class="botonytexto">
                <p>{{mascota.name}}</p>
                <div class="editar-perfil-btn">
                  <button>Editar Perfil</button>
                </div>
              </div>
              <p>{{mascota.species}}</p>
              <p>{{mascota.description}}</p>
            </div>
          </div>
        </div>
        <div>
          <hr class="linea-separadora">
        </div>
        <div class="seccion-texto">
          <div class="imagen-icono-1">
            <img src="assets/images/insta.png">
            <p>PUBLICACIONES</p>
          </div>
        </div>
        <div *ngFor="let grupo of dividirEnGruposDeTres(publicaciones)" class="fotos">
          <img *ngFor="let publicacion of grupo"
            src={{publicacion.photo}}
            (click)="mostrarId(publicacion.publication_id)"
            class="image-usuario">
        </div>
      </div>
  </div>
</html>
