.comun{
  margin:0;
  padding: 0;
}

.container{
  display:flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 30%;
}

.imagen-perfil {
  display: flex;
  margin-top: 3%;
  margin-right: 10%;
}

.foto{
  width: 250px; /* Ancho del contenedor */
  height: 250px; /* Altura del contenedor */
  overflow: hidden;
  border-radius: 50%; /* Establecer el borde del contenedor en forma de círculo */
  display: flex; /* Usar flexbox para centrar la imagen */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  border: 3px solid black;
}

.foto img {
  width: 100%; /* Ocupar el 100% del contenedor */
  height: 100%; /* Ocupar el 100% del contenedor */
  object-fit: cover; /* Hacer que la imagen se ajuste al contenedor sin distorsionar */
}

.info-usuario {
  display:flex;
  flex-direction: column;
  padding: 2%;
  width: 90%;
}

.nombre-usuario {
  display:flex;
  font-weight: bold;
  font-family: 'Inter';
  align-items: left; /* Alinear elementos verticalmente */
  flex-direction: column;
}

.botonytexto {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.nombre-usuario p{
  font-weight: bold;
  font-family: 'Inter';
  font-size: 20px;
}

.editar-perfil-btn {
  display: flex;
  margin-left: auto;
}

.editar-perfil-btn button{
  background: #BFDC99;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 150px;
  height: 31px;
  font-weight: bold;
  font-family: 'Inter';
  font-size: 16px;

}
.editar-perfil-btn button:hover {
  box-shadow: 0 4px 8px rgb(86, 84, 84); /* Añade una sombra al hacer hover */
  cursor: pointer; /* Cambia el cursor a una mano */
  transition: box-shadow 0.3s; /* Agrega una transición suave para la sombra */
}

.info-adicional {
  font-weight: bold;
  font-family: 'Inter';
  font-size: 18px;
  width: 550px; /* Tamaño fijo para el contenedor */
  margin-left: auto;
}

.lugar,
.descripcion {
  margin-top: 10px; /* Espacio entre los elementos */
}

.image-usuario {
  width: 33%;
  height: auto;
  margin-bottom: 3%;
  overflow: hidden;
  background-color: #ffffff;
}

/* Estilo para la línea separadora */
.linea-separadora {
  display: flex;
  height: 10px;
  width: 90%;
  border: none;
  border-top: 1px solid black; /* Establece el color y el estilo de la línea */
  margin-top: 5%;
  margin-right: 10%;
}

.seccion-texto {
  display: flex;
  flex-direction: row;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: 10%;
  justify-content: center;
}

.seccion-texto p {
  font-weight: bold;
  font-family: 'Inter';
  font-size: 22px;
}

.imagen-icono-1 {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.imagen-icono-2 {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.imagen-icono-1 img,
.imagen-icono-2 img {
  width: 24px; /* Ajusta el tamaño de las imágenes */
  height: 24px;
}

select{
  padding: 1.5%;
  padding-right: 10%;
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 1.6%;
  font-family: 'Inter';
  height: 2%;
  margin-bottom: 2%;
}

.fotos {
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fotos img {
  width: 33%; /* Tamaño predefinido para el ancho */
  height: 250px; /* Tamaño predefinido para la altura */ /* Tamaño predefinido para la altura */
  margin-bottom: 10px; /* Espacio entre las imágenes */
  object-fit: cover; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
}
