body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

.container{
  margin: 0;
  padding: 0;
  display: flex;
  position: fixed;
  margin-left: -10px;
  margin-top: -8px;
  justify-content: flex-start;
  background-color: #E2C6A1;
  width: 23%;
  height: 100%;
}

.paginas{
  height:70%;
  margin-top: 0%;
  width: 100%;
}
.pag{
  display:flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
  margin: 10% 0% 10% 10%;
  cursor: pointer;
  svg{
      margin-left: 15px;
      margin-right: 35px;
  }
}
.container .paginas .pag.active{
  border: 1px solid #545454;
  border-radius: 10px;
}
p{
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}
