html{
  margin-top: -2%;
  padding: 0px;
  /*height: 100vh; */
  /* margin-top:; para que la foto se suba */

}

body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

  background-size:100% 100%; /* Ajusta la imagen de fondo para cubrir completamente el área */
  background-position: center center; /* Centra la imagen de fondo */
  background-repeat: no-repeat;
}

.prueba{
  margin-top: 5%;
}
.container{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 21%;
  height: 50%;
  top: 20%;
  margin: 35%;
  margin-bottom: 0%;
  margin-top:7%;
  border: 3px solid black;
  border-radius: 10px;
  padding: 3%;
  padding-right: 5%;
  background-color: #f6f3d7;
  box-shadow: 0 4px 8px rgb(86, 84, 84); /* Añade una sombra al hacer hover */

}
.user{
  display: flex;
  flex-direction: column;
  align-content: left;
  padding-bottom: 13%;
}

.form-group{
  padding: 2%;
  width: 100%;
  padding-left: 0%;
}

.submit{
  position: relative;
  background-color: #BFDC99;
  margin-top: 15%;
  border-radius: 10px;
  padding: 5%;
  border: none;
  color: black;
  font-family: 'Inter';
  font-size: 16px;
  margin-left: 25%; /* Centra el botón horizontalmente */
  cursor: pointer; /* Cambia el cursor a una mano */
  transition: box-shadow 0.3s; /* Agrega una transición suave para la sombra */
}

.submit:hover {
  box-shadow: 0 4px 8px rgb(86, 84, 84); /* Añade una sombra al hacer hover */
}

input[type="name"],
input[type="ubication"],
input[type="description"] {
  width: 100%;
  padding: 5%;
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  font-size: 16px;
}

label{
  color: #FF0000;
  font-family: 'Inter';
  font-size: 16px;
  margin-top: 2%;
}

h2,p{
  font-family: 'Inter';
  margin: 0;
  padding-top: 4%;
}

h2{
  font-weight: bold;
  font-size: 30px;
}
p{
  font-size: 16px;
}


