<html>
  <div class="pagina">
      <div class="comun">
          <app-navigation [pag]="4"></app-navigation>
      </div>
      <div class="container">
        <div class="imagen-perfil">
          <div class="foto">
            <img [src]="user.photo_id === 1 ? 'assets/images/imagen-perfil.jpg' : user.photo">
          </div>
          <div class="info-usuario">
            <div class="nombre-usuario">
              <div class="botonytexto">
                <p>{{user.username}}</p>
                <div class="editar-perfil-btn">
                  <button>Editar Perfil</button>
                </div>
              </div>
              <p>{{user.direction}}</p>
              <p>{{user.description}}</p>
            </div>
          </div>
        </div>
        <div>
          <hr class="linea-separadora">
        </div>
        <div class="seccion-texto">
          <div class="imagen-icono-1">
            <img src="assets/images/insta.png">
            <p>PUBLICACIONES</p>
          </div>
          <div class="imagen-icono-2">
            <img src="assets/images/Favorite.png">
            <p>GUARDADAS</p>
          </div>
          <select id="mascota" name="mascota" [(ngModel)]="mascota" required (change)="filtrar(mascota)">
            <option value="" disabled selected hidden>Filtrar por mascota</option>
            <option value="">Ninguna</option>
            <option *ngFor="let pet of misMascotas" [value]="pet.name">{{ pet.name }}</option>
          </select>
        </div>
        <div *ngFor="let grupo of dividirEnGruposDeTres(misPublicaciones)" class="fotos">
          <img *ngFor="let publicacion of grupo"
            src={{publicacion.photo}}
            (click)="mostrarId(publicacion.publication_id)"
            class="image-usuario">
        </div>
      </div>
  </div>
</html>
