<!DOCTYPE html>
<html>
        <div class ="prueba">
            <app-logo></app-logo>
            <div class="container">
                <div class="text">
                    <h2>Iniciar Sesión</h2>
                    <p>Introduce tu usuario y contraseña</p>
                </div>
                <div class="form-group">
                    <input type="text" id="username" name="username" placeholder="Usuario" [(ngModel)]="username" required>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Contraseña" [(ngModel)]="password" required>
                </div>
                <label *ngIf= "id == '-1'" id="error" >
                    El usuario no existe.
                </label>
                <label *ngIf="id =='-2'" id="error">
                    La contraseña es incorrecta.
                </label>
                <div class="forgottenpass">
                  <p class="register"><a [routerLink]="['/recuperacion']"><strong>He olvidado mi contraseña</strong></a></p>
                </div>
                <div class="boton">
                    <button type="submit" (click)="iniciarSesion()">Iniciar Sesión</button>
                </div>
                <div class="registration">
                  <p class="register">¿No tienes una cuenta? <a [routerLink]="['/registro']"><strong>Regístrate</strong></a></p>
                </div>
            </div>
        </div>
</html>
