<!DOCTYPE html>
<html>
        <div class ="prueba">
            <app-logo></app-logo>
            <div class="container">
                <div class="text">
                    <h2>Registro</h2>
                    <p>Completa tu perfil</p>
                </div>
                <div class="form-group">
                    <input type="realName" id="realName" name="realName" placeholder="Nombre y Apellidos (Opcional)" [(ngModel)]="realName" required>
                </div>
                <div class="form-group">
                    <input type="ubication" id="ubication" name="ubication" placeholder="Ubicacion (Opcional)" [(ngModel)]="ubication" required>
                </div>
                <div class="form-group">
                  <input type="description" id="description" name="description" placeholder="Descripción (Opcional)" [(ngModel)]="description" required>
                </div>
                <div>
                  <!-- Mostrar la imagen de la mascota -->
                  <label for="fileInput" class="imagen-container">
                      <img id="imagenPublicacion">
                      <input type="file" id="fileInput" style="display: none;" (change)="onFileSelected($event)">
                  </label>
                  <!-- Botón para activar el input de tipo file -->
                  <button type="button" class="boton-subir" (click)="openFileInput()" #fileButton>Adjuntar Foto de Perfil (Opcional)</button>
                </div>
                <div class="boton">
                  <button type="button" class="submit" (click)="joinParams()">Finalizar Registro</button>
                </div>
            </div>
        </div>
</html>
