.comun{
    margin:0;
    padding: 0;
  }
  .container{
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 30%;
  
  }
  .titulo{
    margin-top: 3.8%;
  }
  .campos{
    display:flex;
    flex-direction: column;
    padding-left: 3%;
    font-weight: bold;
    padding-right: 10%;
    width: 60%
  }
.fotos{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap; 
  /* justify-content: flex-start;
  align-items: flex-start; */
  gap: 2%
}
.foto{
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  border: 1px solid black;


}
.like{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 10%;
  padding-top: 5%;
  padding-bottom: 2%;
  border-top: 1px solid black;
}
.nums{
  display: flex;
  flex-direction: row;
  h2{
    margin-left:15%;
    margin-top: 2%;
    font-weight: normal;
  }
}
button{
  background: #BFDC99;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 150px;
  height: 31px;
  font-weight: bold;
  font-family: 'Inter';
  font-size: 16px;

}
button:hover {
  cursor: pointer; /* Cambia el cursor a una mano */
}
img{
  width: 300px;
  height: 300px;
}
svg:hover {
  cursor: pointer; /* Cambia el cursor a una mano */
}
input[type="text"] {
    width: 25%;
    padding: 1.5%;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 3%;
    font-family: 'Inter';
    margin-right: 3%;
  }
  
  select{
    padding: 1.5%;
    padding-right: 10%;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 3%;
    width: 25%;
    font-family: 'Inter';
    margin-right: 5.5%;

  }
  option{
    font-family: 'Inter';
    padding: 2%;
  }
  
  p, h2{
    font-family: 'Inter';
  
  }
  h2{
    font-size: 20px;
  }