<html>
    <div class="pagina">
        <div class="comun">
            <app-navigation [pag]="1"></app-navigation>
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Filtros</h2>
            </div>
            <div>
                <input type="text" id="usuario" name="usuari" placeholder="Usuario" [(ngModel)]="usuario" required (input)="filtrar(usuario, raza)">
                <select id="raza" name="Raza" [(ngModel)]="raza" required (change)="filtrar(usuario, raza)">
                    <option value="" disabled selected hidden>Raza</option>
                    <option value="" class="desplegable">Todas</option>
                    <option value="Pájaro" class="desplegable">Pájaro</option>
                    <option value="Perro" class="desplegable">Perro</option>
                    <option value="Gato" class="desplegable">Gato</option>
                    <option value="Conejo" class="desplegable">Conejo</option>
                    <option value="Tortuga" class="desplegable">Tortuga</option>
                    <option value="Rana" class="desplegable">Rana</option>
                    <option value="Ratón" class="desplegable">Ratón</option>
                    <option value="Pez" class="desplegable">Pez</option>
                </select>
            </div>
            <div class="fotos">
                <div *ngFor="let publicacion of publicaciones" class="foto">
                    <img src={{publicacion.photo}}>
                    <div class="like">
                        <div class="nums">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="red" class="bi bi-heart" viewBox="0 0 16 16" *ngIf="publicacion.you_liked == null || !publicacion.you_liked" (click)="darLike(publicacion.publication_id)">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16" *ngIf="publicacion.you_liked" (click)="darLike(publicacion.publication_id)">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                            <h2>{{publicacion.num_likes}}</h2>
                        </div>
                        <div class="nums">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="black" class="bi bi-heartbreak" viewBox="0 0 16 16" *ngIf="publicacion.you_liked == null || publicacion.you_liked" (click)="darDislike(publicacion.publication_id)">
                                <path d="M8.867 14.41c13.308-9.322 4.79-16.563.064-13.824L7 3l1.5 4-2 3L8 15a38 38 0 0 0 .867-.59m-.303-1.01-.971-3.237 1.74-2.608a1 1 0 0 0 .103-.906l-1.3-3.468 1.45-1.813c1.861-.948 4.446.002 5.197 2.11.691 1.94-.055 5.521-6.219 9.922m-1.25 1.137a36 36 0 0 1-1.522-1.116C-5.077 4.97 1.842-1.472 6.454.293c.314.12.618.279.904.477L5.5 3 7 7l-1.5 3zm-2.3-3.06-.442-1.106a1 1 0 0 1 .034-.818l1.305-2.61L4.564 3.35a1 1 0 0 1 .168-.991l1.032-1.24c-1.688-.449-3.7.398-4.456 2.128-.711 1.627-.413 4.55 3.706 8.229Z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-heartbreak-fill" viewBox="0 0 16 16" *ngIf="!publicacion.you_liked && publicacion.you_liked != null" (click)="darDislike(publicacion.publication_id)">
                                <path d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586M7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77"/>
                            </svg>
                            <h2>{{publicacion.num_dislikes}}</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
