.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p,h2{
  font-family: 'Inter';
  font-weight: bold;

}

.title {
  text-align: left;
  margin-top: 3%;
  width: 90%;
  font-family: 'Inter';
  font-weight: bold;

}

.title h2 {
  margin: 0;
  font-family: 'Inter';
  font-weight: bold;

}

.adjuntar-foto-div {
  margin-top: 20px;
  display: flex;
  border-radius: 10px;
  width: 90%;
  height: 40%;
}

.imagen-container {
  flex: 1; /* La imagen ocupará todo el espacio disponible */
  display: flex;
  align-items: center; /* Centra la imagen verticalmente */
  justify-content: center; /* Centra la imagen horizontalmente */
  overflow: hidden; /* Evita que la imagen sobresalga del contenedor */
  border-radius: 10px 0 0 10px; /* Bordes redondeados solo en la esquina izquierda */
}

.imagen-container img {
  max-width: 80%; /* La imagen ocupará todo el ancho disponible */
  max-height: 80%; /* La imagen ocupará todo el alto disponible */
}

.boton-subir {
  flex: 1; /* El botón ocupará todo el espacio disponible */
  border-radius: 0 10px 10px 0; /* Bordes redondeados solo en la esquina derecha */
  color: black;
  border: 1px solid #000000;
  border-radius: 10px;
  font-family: 'Inter';
  font-weight: bold;
  cursor: pointer;
}

.adjuntar-foto-div button {
  border-radius: 10px;
  width: 100%;
  height: 250px;
  color: #4F4F4F;
  font-family: 'Inter';
  font-weight: bold;

}

.zona-descripcion {
  margin-top: 30px;
  border-radius: 80px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-weight: bold;

}

.file-upload {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer; /* Esto cambia el cursor cuando se pasa sobre el botón */
  font-family: 'Inter';

}

.form-control {
  border-radius: 10px;
  width: 90%;
  height: 200px;
  font-family: 'Inter';

}

.zona-mascotas {
  margin-top: 10px;
  border-radius: 10px;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: left;
  font-family: 'Inter';

}

mat-option{
  font-family: 'Inter';
}

.mat-form-field {
  width: 100%;
  font-family: 'Inter';
  font-weight: bold;

}

.mat-select {
  width: 100%;
  font-family: 'Inter';
  font-weight: bold;

}

.seleccionador-mascota {
  border-radius: 10px;
  align-items: left;
  width: 40%;
  height: 50px;
  font-family: 'Inter';
  font-weight: bold;

}

.button-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-family: 'Inter';
  font-weight: bold;


}

.boton-añadir {
  border: 1px solid #000000;
  border-radius: 10px;
  background: #BFDC99;
  color: black;
  width: 150px;
  height: 50px;
  font-size: 16px;
  width: 300px; /* Ajusta la anchura del botón según sea necesario */
  font-family: 'Inter';
  font-weight: bold;

}

button:hover {
  box-shadow: 0 4px 8px rgb(86, 84, 84); /* Añade una sombra al hacer hover */
  cursor: pointer; /* Cambia el cursor a una mano */
  transition: box-shadow 0.3s; /* Agrega una transición suave para la sombra */
}

.mensaje-error-1{
  margin-bottom: -5px;
  font-family: 'Inter';
  margin-top: 10%;
  font-weight: bold;
  color: #FF0000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  font-family: 'Inter';
}
.mensaje-error-1 p{
  font-family: 'Inter';
  font-weight: bold;
  margin-left: 5px;
  font-size: 14px;
}

.mensaje-error-2{
  text-align: left;
  margin-top: 3%;
  width: 90%;
  font-family: 'Inter';
  font-weight: bold;
}
.mensaje-error-2 p{
  color: #FF0000;
  font-family: 'Inter';
  font-weight: bold;
  margin-left: 5px;
  font-size: 14px;
}

.boton-aceptar{
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #BFDC99;
  color: black;
  padding: 15px 20px;
  font-size: 14px;
  margin-left:35%;
  margin-top: 5%;
  width: 200px; /* Ajusta la anchura del botón según sea necesario */
  font-family: 'Inter';
  font-weight: bold;
}


