<div class="container">
  <div class="title">
    <h2>Nueva Publicación</h2>
  </div>

  <!-- Verifica si hay al menos una mascota disponible antes de mostrar el mensaje de error -->
    <!-- Resto del contenido del popup -->
    <div class="adjuntar-foto-div" *ngIf="misMascotas.length != 0">
      <!-- Mostrar la imagen de la mascota -->
      <label for="fileInput" class="imagen-container">
          <img id="imagenPublicacion" [src]="imagenSrc">
          <input type="file" id="fileInput" style="display: none;" (change)="onFileSelected($event)">
      </label>
      <!-- Botón para activar el input de tipo file -->
      <button type="button" class="boton-subir" (click)="openFileInput()" #fileButton>Subir foto</button>
    </div>
    <div class="zona-descripcion" *ngIf="misMascotas.length != 0">
      <mat-form-field appearance="outline" class="form-control">
        <mat-label>Descripción</mat-label>
        <textarea matInput [(ngModel)]="descripcion"></textarea>
      </mat-form-field>
    </div>

    <div class="zona-mascotas" *ngIf="misMascotas.length != 0">
      <mat-form-field appearance="outline" color="primary" class="seleccionador-mascota">
        <mat-label>Seleccionar Mascota</mat-label>
        <mat-select [(ngModel)]="mascotaElegida">
          <mat-option *ngFor="let mascota of misMascotas" [value]="mascota">{{ mascota.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="misMascotas.length != 0">
      <p *ngIf="mostrarError" class="mensaje-error-1">Error, comprueba los campos</p>
    </div>

    <div class="button-container" *ngIf="misMascotas.length != 0">
      <button mat-button color="primary" (click)="crearPublicacion()" [disabled]="mostrarError" class="boton-añadir">Añadir</button>
    </div>

  <!-- Si no hay mascotas disponibles, muestra el mensaje sin el resto del contenido -->
  <div *ngIf="misMascotas.length === 0" class="mensaje-error-2">
    <p>No has añadido ninguna mascota todavía. Añade tus mascotas para poder subir sus fotos.</p>
    <button class="boton-aceptar" (click)="cerrarDialogo(false)">Aceptar</button>
  </div>
</div>
