<html>
    <div class="pagina">
        <div class="comun">
            <app-navigation [pag]="3"></app-navigation>
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Mis mascotas</h2>
            </div>
            <div class="mascota">
                <div class="foto2">
                     <!-- Mostrar la imagen de la mascota -->
                    <img id="imagenMascota" [src]="imagenSrc" alt="Imagen de la mascota">
                    <!-- Input de tipo file oculto -->
                    <input type="file" id="fileInput" style="display: none;" (change)="onFileSelected($event)">
                    <!-- Botón para activar el input de tipo file -->
                    <button type="button" (click)="openFileInput()">Subir foto</button>
                    <label *ngIf="error == 2 || error == 3">
                        Formato incorrecto <br> La imagen debe ser .png
                    </label>
                </div>

                <div class="campos">
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre de la mascota" [(ngModel)]="nombre" required>
                    <select id="raza" name="Raza" [(ngModel)]="raza" required>
                        <option value="" disabled selected hidden>Raza</option>
                        <option value="Pájaro">Pájaro</option>
                        <option value="Perro">Perro</option>
                        <option value="Gato">Gato</option>
                        <option value="Conejo">Conejo</option>
                        <option value="Tortuga">Tortuga</option>
                        <option value="Rana">Rana</option>
                        <option value="Ratón">Ratón</option>
                        <option value="Pez">Pez</option>
                      </select>
                    <input type="text" id="descripcion" name="Descripción" placeholder="Descripción"  [(ngModel)]="descripcion" required>
                </div>
                <div class="boton2">
                    <label *ngIf="error == 1 || error == 3">
                        Faltan campos por rellenar
                    </label>
                    <button type="submit"  (click)="crearMascota()">Añadir</button>
                </div>
            </div>
        </div>
    </div>
</html>
