
.container{
  display:flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 30%;

}
p{
  font-family: 'Inter';

}
.titulo{
  margin-top: 3.8%;
  margin-bottom: 3%;
}
.mascota{
  display:flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 3%;
  margin-right: 10%;
}
select{

}
.campos{
  display:flex;
  flex-direction: column;
  padding-left: 3%;
  font-weight: bold;
  padding-right: 10%;
  width: 60%
}
.foto2{
  img{
      width: 150px; /* Ancho del contenedor */
      height: 150px; /* Altura del contenedor */
      border-radius: 50%; /* Establecer el borde del contenedor en forma de círculo */
      overflow: hidden;
      border: 1px solid black;
  }
  button{
      margin-top: 10%;
      margin-left: 5%;
  }
  display: flex; /* Usar flexbox para centrar la imagen */
  justify-content: start; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  align-content: start;
  flex-direction: column;
}

/* Estilos para todos los campos de texto */
input[type="text"] {
  width: 100%;
  padding: 2%;
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 3%;
  font-family: 'Inter';

}

select{
  padding: 2%;
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 3%;
  width: 104%;
}

/* Estilos específicos para el campo de descripción */
#descripcion {
  height: 200px; /* Altura específica para el campo de descripción */
  resize: vertical; /* Permite que el usuario redimensione verticalmente el campo de descripción */
}

label{
  color: #FF0000;
  font-family: 'Inter';
  font-size: 13px;
  margin-bottom: 3%;
  margin-top: 3%;
}

.boton2{
  margin-bottom: 2%;
  display: flex;
  align-items: end; /* Centrar verticalmente */
  justify-content: end;
  flex-direction: column;
  button{
      padding: 2%;
  }
}

button, input[type="file"]{

  background: #BFDC99;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 150px;
  height: 31px;
  font-weight: bold;
  font-family: 'Inter';
  font-size: 16px;


}


button:hover {
  box-shadow: 0 4px 8px rgb(86, 84, 84); /* Añade una sombra al hacer hover */
  cursor: pointer; /* Cambia el cursor a una mano */
  transition: box-shadow 0.3s; /* Agrega una transición suave para la sombra */
}
img{
  max-width: 100%; /* Ancho máximo de la imagen igual al 100% del contenedor */
  max-height: 100%;
}
h2,p{
  font-family: 'Inter';
}
h2{
  font-size: 32px;
}
p{
  font-size: 18px;
  margin:1%;
}
