<!DOCTYPE html>
<html>
<div class ="prueba">
    <app-logo></app-logo>
    <div class="container">
        <div class="text">
            <h2>Registro</h2>
            <p>Introduce tus datos</p>
        </div>
          <div class="form-group">
              <input type="name" id="name" name="name" placeholder="Nombre de usuario" [(ngModel)]="username" required>
          </div>
          <div class="form-group">
              <input type="usermail" id="usermail" name="usermail" placeholder="ejemplo@ejemplo.com" [(ngModel)]="mail" required email>
          </div>
          <div class="form-group">
              <input type="userpassword" id="userpassword" name="userpassword" placeholder="Contraseña" [(ngModel)]="password" required minlength="6">
          </div>
          <div class="form-group">
              <input type="passwordconfirmation" id="passwordconfirmation" name="passwordconfirmation" placeholder="Repite tu Contraseña" [(ngModel)]="passwordconfirmation" required minlength="6">
          </div>
          <div class="boton">
            <button type="button" (click)="submitForm()">Continuar</button>
          </div>
    </div>
</div>
</html>
